<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }} | {{title}}</title>
    <link href="index.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>

    <header>
      {{> navbar }}
    </header>

    <main>
      {{> body }}
    </main>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
