<section class="call-to-action">

  <form class="ui fluid form segment" action="https://lists.riseup.net/www" method="POST">
    <h3 class="ui header">Subscribe to the Holonomy Mailing List</h3>
      
    <div class="one fields">
      <label>Learn About and Discuss the Holonomy Movement</label>
      <div class="field">
        <div class="ui left icon input">
          <input name="email" placeholder="Email Address" type="email">
          <input TYPE="hidden" NAME="list" VALUE="holonomy">
          <input TYPE="hidden" NAME="action" VALUE="subrequest">
          <i class="certificate icon"></i>
        </div>
      </div>
    </div>

    <input TYPE="submit" NAME="action_subrequest" VALUE="Subscribe" class="ui button">
  </form>
</section>
