<main class="call-to-action">

	<div class="ui fluid form segment">
      <h3 class="ui header">Subscribe to the Holonomy Mailing List</h3>
      
      <div class="one fields">
      	<label>Learn About and Discuss the Holonomy Movement</label>
        <div class="field">
          <div class="ui left icon input">
	        <input placeholder="Email Address" type="text">
	        <i class="certificate icon"></i>
	      </div>
        </div>

      </div>
    </div>

    <div class="ui button">
    	Subscribe
    </div>

</main>