---
component: navbar
---
<header class="ui header">

  <div class="gears"></div>

  <h2>Holonomy is a project to advance the technology and economy of self-organization</h2>
  <!--{{ghbtn size="small" user="holonomy" repo="holonomy"}}-->
  
</header>

