---
component: navbar
---
<div class="jumbotron">
  <h1>we are all holons</h1>
  <p>holonomy is a project to advance the technology of self-organizing holons</p>
</div>
<nav role="navigation">
  <ul class="nav nav-tabs">
    <li{{#is basename "index"}} class="active"{{/is}}>
      <a href="{{relative page "index.html"}}">index</a>
    </li>
    <li{{#is basename "learn"}} class="active"{{/is}}>
      <a href="{{relative page "learn.html"}}">learn</a>
    </li>
    <li{{#is basename "create"}} class="active"{{/is}}>
      <a href="{{relative page "create.html"}}">create</a>
    </li>
    <li{{#is basename "organize"}} class="active"{{/is}}>
      <a href="{{relative page "organize.html"}}">organize</a>
    </li>
  </ul>
</nav>