---
component: navbar
---
<nav role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#nav-collapse">
      <span class="sr-only">toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{relative page "index.html"}}">holonomy</a>
  </div>
  <div class="navbar-collapse" id="nav-collapse">
    <ul class="nav navbar-nav pull-left">
      <li{{#is basename "moreinfo.html"}} class="active"{{/is}}>
        <a href="{{relative page "moreinfo.html"}}">moreinfo</a>
      </li>
    </ul>
  </div>
</nav>
