<div class="bs-social">
  <ul class="bs-social-buttons">
    <li>
      {{ghbtn size="small" user="holonomy" repo="holonomy.github.io"}}
    </li>
    <li>
      {{ghbtn size="small" user="holonomy" repo="holonomy.github.io" type="fork"}}
    </li>
    <li class="follow-btn">
      {{follow user="ahdinosaur"}}
    </li>
    <li class="tweet-btn">
      {{tweet url="http://holonomy.github.io" via="ahdinosaur" related="holonic economy"}}
    </li>
  </ul>
</div>
