---
title: create
---
<div class="page-header">
  <h2>create
    <small>
      open source development, self-hosted deployment
    </small>
  </h2>
</div>
<p>
  holonomy is about creating software tools that are useful to a holon such as yourself, developed with you and hosted by you: holonic identity, holonic task delegation, holonic decision-making, holonic communication, holonic market interactions, holonic inventory sharing, etc.
</p>