---
title: learn
---
<main>
  <header class="ui header">
    <h2><a href="{{relative page "learn.html"}}">learn</a>
      <small class="medium header">
        <a href="http://www.chris-granger.com/2012/10/05/all-ideas-are-old-ideas/">that all ideas are old ideas</a>
      </small>
    </h2>
  </header>
  {{md 'content/holons.md'}}
  {{md 'content/economy.md'}}
</main>