---
title: learn
---
<main>
  <div class="ui header">
    <h2>learn
      <small class="medium header">
        that new ideas are old ideas
      </small>
    </h2>
  </div>
  <p>
    holonomy is built in part on a powerful idea: holons. a holon is defined as something that is simultaneously a whole and a part, such a bee hive: each bee is simultaneously a whole bee and part of a hive.
  </p>
</main>