---
title: organize
---
<div class="ui header">
  <h2>organize
    <small class="medium header">
      as holons working together for the benefit of all holons
    </small>
  </h2>
</div>
<p>
  holonomy is organized by you: anyone can contribute to holonomy development, all contributions are replicated to all holons by virtue of the technology being open source.
</p>