---
title: organize
---
<main>
  <header class="ui header">
    <h2>organize
      <small class="medium header">
        as holons working together for the benefit of all holons
      </small>
    </h2>
  </header>
  {{md 'content/roots.md' }}
</main>