@import '../../../node_modules/font-awesome/less/font-awesome.less';
@fa-font-path:  "../fonts";

@import '../../../node_modules/semantic/src/elements/header.less';
@import '../../../node_modules/semantic/src/elements/button.less';
@import '../../../node_modules/semantic/src/elements/icon.less';
@import '../../../node_modules/semantic/src/elements/divider.less';
@import '../../../node_modules/semantic/src/elements/segment.less';
@import '../../../node_modules/semantic/src/collections/grid.less';
@import '../../../node_modules/semantic/src/collections/menu.less';
@import '../../../node_modules/semantic/src/collections/form.less';
@import '../../../node_modules/semantic/src/views/list.less';

@tiny: ~"only screen and (max-width: 768px)";
@small: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@medium: ~"only screen and (min-width: 992px) and (max-width: 1200px)";
@large: ~"only screen and (min-width: 1201px)";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: FontAwesome;
}

body > header.ui.stackable.grid {
  background: linear-gradient(to bottom,
    #C3703C,
    #FFD068
  );
  text-align: center;

  @media @tiny {
    height: 12rem;
  }
  @media @small {
    height: 12rem;
  }
  @media @medium {
    height: 14rem;
  }
  @media @large {
    height: 16rem;
  }

  > .column.gears {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: -webkit-radial-gradient(circle farthest-corner, #00ff00 20%, transparent 70%);

    @media @tiny {
      height: 6rem;
    }
    height: 100%;
  }

  .sun path {
    fill: rgba(0, 0, 0, 0.6);
  }

  .planet path {
    fill: rgba(0, 0, 0, 0.9);
  }

  .annulus path {
    fill: rgba(0, 0, 0, 0.8);
  }

  > .column {

    @media @tiny {
      margin: 0 !important;
      padding: 0 !important;
      text-align: center;
    }

    h1 {
      margin: 0;

      @media @tiny {
        display: inline-block;
        font-size: 2.8rem;
      }
      @media @small {
        font-size: 3.3rem;
      }
      @media @medium {
        font-size: 4.3rem;
      }
      @media @large {
        font-size: 6.3rem;
      }
    }

    p {
      margin: 0;

      color: rgba(0, 0, 0, 0.75);

      @media @tiny {
        display: inline-block;
        font-size: 2.2rem;
      }
      @media @small {
        font-size: 2.7rem;
      }
      @media @medium {
        font-size: 2.8rem;
      }
      @media @large {
        font-size: 3rem;
      }
    }
  }
}

body > nav {

  .ui.menu {

    text-align: center;
    font-size: 1rem;

    .item {

      a {
        text-decoration: none;
      }
    
      .menu {
        margin-left: 0.5em;
        font-size: 0.9em;
        display: none;
      }
    }
    .active.item .menu {
      display: block;
    }
  }

  .sticky.ui.menu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
}

body > main.ui.grid > section.column {

  text-align: center;

  ul {
    .ui.list;

    li {
      .ui.list .item;
      .ui.large.list .item;
      .ui.link.list .item;
    }
  }

  a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
  }

  p {
    display: inline-block;
  }

  .action.segment {
    display: inline-block;
  }
}